<div style="overflow-x:auto;">
<div class="Flex"> 
  <h1 style="font-family: 'Arial', Sans-serif;" >User</h1>
<button routerLink="/Users">+</button>
</div>
 
 <table >
  <thead  style="border: 2px solid #CDCDCD;">
  
    <tr>
      <th >
        #
      </th>
      <th>
       Name
      </th>
      <th>
      Age
      </th>
      <th>
       Dob
      </th>
   
     
    
      
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let User of this.UserList" style="border: 0.5px solid  #CDCDCD;">
  <td>{{User.id}}</td>
  <td>{{User.firstName}}</td>
  <!-- <td>{{User.DateOfBirth | calcAge}}</td>
  <td>{{User.DateOfBirth | date}}</td>
  
   <td ><button [routerLink]="[User.id]">Edit </button> &nbsp;&nbsp;<button (click)="DeleteUser(User)" style="background-color:red">X</button></td> -->


 
  
  </tr>
  </tbody>
  </table>
</div>