<div style="overflow-x:auto;">
<div class="Flex"> 
  <h1 style="font-family: 'Arial', Sans-serif;" >User</h1>
<button routerLink="/main">+</button>
</div>
 
 <table >
  <thead  style="border: 2px solid #CDCDCD;">
  
    <tr>
      <th >
        #
      </th>
      <th>
       Name
      </th>
      <th>
      Age
      </th>
      <th>
       Dob
      </th>
   
     
    
      
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let User of this.UserList" style="border: 0.5px solid  #CDCDCD;">
  <td>{{User.id}}</td>
 
  
   


 
  
  </tr>
  </tbody>
  </table>
</div>