 <table border="3"  style="text-align: center;border-collapse: collapse">
  <thead>
  
    <tr style="border: 3px solid black;">
      <th>
        First Name
      </th>
      <th>
       Last Name
      </th>
      <th>
        Id
      </th>
      <th>
        Delete
      </th>
      <th>
        Edit
      </th>
      <!-- </th>
      <th>
       Age
      </th>
      <th>
        Delete
      </th> -->
      
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let User of UserList" style="border: 3px solid black;">
  <td>{{User.firstName}}</td>
  <!-- <td>{{User.DateOfBirth | date}}</td> -->
  <!-- <td>{{User.email}}</td> -->
  <td>{{User.lastName}}</td>
  <!-- <td>{{User.DateOfBirth | calcAge}}</td> -->
  <!-- <td>{{User.age}}</td> -->
  <td>{{User.id}}</td>
  <td><button (click)="DeleteUser(User)" style="width: 200px;height: 50px;">Delete</button></td>
  <td><button (click)="DeleteUser(User)" style="width: 200px;height: 50px;">Edit</button></td>
 
  
  </tr>
  </tbody>
  </table>