<h1>Add User</h1>


<div class="container">
  <form #form="ngForm" (ngSubmit)="addUser(form)">
    <div class="row">
      <div class="col-25">
        <label for="fname">Name</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="NewUser.firstName" required name="firstName">
        <br>
        <span *ngIf="form.form.controls['firstName']?.touched && ! form.form.controls['firstName']?.valid"
          style="font-size: 11px ;color: red;">Name required</span>
      </div>

    </div>

    <div class="row">
      <div class="col-25">
        <label >Date of birth</label>
      </div>
      <div class="col-75">
        <input type="date" [(ngModel)]="NewUser.dateOfBirth" required name="DateOfBirth">
    <br>
    <span *ngIf="form.form.controls['DateOfBirth']?.touched && ! form.form.controls['DateOfBirth']?.valid"
      style="font-size: 11px ;color: red;">User Name required</span>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label >Email</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="NewUser.email" email required name="email">
        <br>
        <span *ngIf="form.form.controls['email']?.touched && ! form.form.controls['email']?.valid"
          style="font-size: 11px ;color: red;">Email required</span>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label >Password</label>
      </div>
      <div class="col-75">
        <input type="password" [(ngModel)]="NewUser.password" required name="password">
        <br>
        <span *ngIf="form.form.controls['password']?.touched && ! form.form.controls['password']?.valid"
          style="font-size: 11px ;color: red;">Password required</span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label ></label>
      </div>
      <div class="col-75">
        <button type="submit" >{{id>0? "Update":"Add"}}</button>
      </div>
    </div>
   
  </form>



