.textarea-container { 
    position: relative; 
    text-align: center;
  
  } 
  .textarea-container textarea { 
    width: 50%; 
    height: 50%; 
    border: 0ch;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
  
  } 
  .textarea-container button { 
    position: absolute; 
    bottom:14%; 
    left: 25%; 
  }
  
  button{
    background-color: #78909C;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-start;
  }