
      html,
      body{
           color: black;
           height: 100vh;
           display: flex;
           flex-direction: column;
           padding: 0%;
           margin: 0%;
         

       }

       .flex-header {
          background-color: #78909C;
           min-height: 30px;
    
           
       }

       .flex-main {
           display: flex;
           flex: 1;
         
           overflow: hidden;

       }
       .flex-Section{
           display: flex;
           flex-direction: column;
           flex: 1;
           

       }

       .flex-LeftSec {
           background-color: #EBEFF2;
           
          

       }

       .flex-M {
           background-color:#FFFFFF;
           padding-top: 5px;
           flex: 2 2;
           text-align: center;
           padding-left: 20px;
           font-size: 20px;
           overflow: auto;
           text-align: left;

       }
  